<% @videos.each do |video| %>
<%= video.id %><br>
<%= video.title %><br>
<%= video.description %><br>
<%= video.youtube_id %><br>
<a href="/videos/<%= video.id %>/edit">Update Video</a><br>
<%= form_for [video], :html => { :method => :delete } do |f| %>
  <%= f.submit "Delete Video" %>
<% end %>
<br><br>
<% end %>